/* Todos los estilos se encuentran separados en sus respectivos import */
.btn {
  width: 90px;
  height: 40px;
  background-color: rgb(249, 221, 179);
  font-family: "Segoe UI";
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(249, 221, 179);
}

body {
  background-color: rgb(249, 221, 179);
}
body h1, body h2, body h3, body h4, body p, body .btn {
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;
}
body img {
  margin-left: 20px;
}
body iframe {
  margin-left: 20px;
  margin-bottom: 20px;
}

.logo-y-menu-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  color: black;
  background-color: rgb(254, 179, 67);
}
.btn.btn-outline-success:hover {
  background-color: rgb(222, 163, 0);
}

form.d-flex {
  display: flex;
  align-items: center;
}
form.d-flex .form-control {
  flex: 1;
}

footer {
  background-color: rgb(249, 221, 179);
  text-align: center;
  padding: 20px;
}
footer .imagen-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .imagen-footer img {
  width: 30px;
  height: 30px;
}
footer .imagen-footer .logo {
  margin: 0 10px;
}

.links_de_pie {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.links_de_pie li {
  margin: 5px 0;
}

.informacion-contacto {
  flex: 1;
  padding: 20px;
}

.mb-3 {
  margin-left: 20px;
  margin-right: 100px;
}

.receta-detallada {
  display: flex;
  align-items: center;
  gap: 30px;
}
.receta-detallada img {
  max-width: 50%;
}

.iconos {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.iconos img {
  max-width: 30px;
  align-items: center;
}

.contenido-ingredientes-preparacion {
  display: flex;
  justify-content: center;
}
.contenido-ingredientes-preparacion .ingredientes-preparacion {
  display: flex;
  display: inline-block;
}

.contenido-ingredientes-preparacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card {
  display: inline-block;
  width: calc(50% - 15px);
  margin: 5px;
}

.card.mb-3 {
  background-color: rgb(249, 221, 179);
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.receta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.receta img {
  max-width: 100%;
}
.receta img p {
  margin-top: 10px;
}

.contenedor-recetas {
  display: flex;
  justify-content: space-between;
}

.logo-y-menu-conteiner {
  display: flex;
  align-items: center;
}
.logo-y-menu-conteiner img {
  transition: transform 0.3s ease;
}
.logo-y-menu-conteiner img:hover {
  transform: rotate(360deg);
}

@media (max-width: 480px) {
  .recetarios-libros img {
    max-width: 130px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .contenedor-recetas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .logo-y-menu-conteiner img {
    max-width: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  p {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .contenedor-recetas img {
    max-width: 250px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .video-receta {
    max-width: 320px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .contenedor-contacto iframe {
    max-width: 300px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  iframe {
    max-width: 300px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .contenido-ingredientes-preparacion {
    grid-template-columns: 1fr;
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .card {
    display: block;
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
