
.card-APP {
    display: flex; 
    gap: 20px; 
    grid-template-columns: minmax(300px, 1fr);
    background-color: $color_principal;
  }

  
.col-md-4 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }


  
