
.card {
    display: inline-block; 
    width: calc(50% - 15px);
    margin: 5px; 
  }

  
.card.mb-3 {
    background-color: $color_principal;
}

.col-md-4 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
