.logo-y-menu-conteiner{
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.btn {
    color: black;
    background-color: rgb(254, 179, 67);
    &.btn-outline-success {
      &:hover {
        background-color: rgb(222, 163, 0);
      }
    }
  }

  form.d-flex {
    display: flex;
    align-items: center;   
    .form-control {
      flex: 1; 
    }
  }
  
  