$color_principal: rgb(249, 221, 179);
$fuente_principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tamaño_fuente: medium;
$valor-text-align: center;
$border-radius: 5%;
$width: 150px;
$heigth: 60px;